.flex-container-desc {
  position: absolute;
  width: 100%;
  height: 75vh;
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(226, 222, 222);
  justify-content: left;
  z-index: 1;
  transition: all 0.24s cubic-bezier(0.4, 0.14, 0.3, 1);
  max-height: 0;
  overflow: hidden;

  &.wide-menu-expanded {
    max-height: 100%;
  }
}

.flex-container-desc>div {
  background-color: #ffffff;
  width: 100%;
  margin: 0.5px;
  text-align: center;
  line-height: 75px;
  font-size: 1rem;
}

.head-title {
  color: #626262;
  flex: 1;
  justify-content: center;
  padding-left: 15px;
  padding-top: 15px;
}

.head-title p {
  font-size: 15px;
}

.single-title {
  padding: 5px;
  // padding-top: 2px;
  padding-left: 15px;
}

.single-title:hover,
.single-title.active {
  background-color: #d9d7d7;
  cursor: pointer;
  text-decoration: none;
}

.title-separator {
  border-top: 0.1px solid #d9d7d7;
  // border: 10px solid black;
  margin: 15px;
  margin-right: 0;
  margin-bottom: 0;
  padding-left: 15px;
}

.view-all-array {
  padding: 20px 0px 20px 16px;
  height: 60px;
  display: flex;
  align-items: baseline;
  margin-top: 2px;
}

.view-all-array a {
  text-decoration: none;
}
.sub-menu-description svg{
  position: absolute;
}
.menu-description{
  margin-left: 10px;
  padding: 5px;
}
.view-all-array:hover,
.view-all-array.active {
  background-color: #d9d7d7;
  cursor: pointer;
  text-decoration: none;
}
.view-all-array a:hover,
.view-all-array a.active {
  text-decoration: none;
}
.menu-description {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  overflow-y: auto;
}

.menu-description h4 {
  cursor: pointer;
  margin: 20px 0 0 20px;
  margin-left: 10px;
  padding: 5px;
  color: rgb(73, 73, 74);
  font-weight: 400;
}

.menu-description h5 {
  font-size: 15px;
}

.menu-description p {
  font-size: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item:hover,
.grid-item.active {
  background-color: #d9d7d7;
  cursor: pointer;
}

.grid-item {
  text-align: left;
  padding: 15px;
}

.grid-item a {
  color: inherit;
  text-decoration: none;
}

.grid-item h5 {
  margin-bottom: 5px;
  color: rgb(73, 73, 74);
}

.grid-item p {
  margin-top: 0;
  color: rgb(98, 98, 98);
}
