// for masthead search css
@import '@carbon/ibmdotcom-styles/scss/components/masthead/index';

.main-header-container {

    .bx--header,
    .cds--header {
        position: relative;
        background: var(--cds-ui-02, #ffffff);
        border-bottom: 1px solid var(--cds-border-subtle);
    }

    .bx--header__global,
    .cds--header__global {
        position: relative;
        overflow: hidden;
        align-items: center;
        height: 100%;
    }

    .popover-dropdown {
        .cds--tooltip-content {
            display: none !important;
        }
    }
}

@media only screen and (max-width: 41.98rem) {
    .main-header-container {
        // hide other elements when search bar active
        .has-search-active {
            display: none;
        }
    }
}

/*
 css overrides for hamburger button to always show

*/
@media (min-width: 66rem) {

    .cds--header__menu-toggle__hidden,
    .bx--header__menu-toggle__hidden {
        display: flex !important;
    }
}

.ibmLogo {
    width: auto;
    height: 23px;
    padding-left: 0.5rem;
    // padding-right: 0.5rem;
}

.logoSeperator {
    content: "";
    display: block;
    height: 1.5rem;
    width: 0.0625rem;
    background-color: var(--cds-ui-03, #e0e0e0);
}
.seperatorHead{
    padding-left: 10px;
}
.orgName {
    padding-left: 0px !important;
}
