// for masthead search css
@import '@carbon/ibmdotcom-styles/scss/components/masthead/index';

[data-carbon-theme="g90"] {

  // overwrite masthead search css
  .bx--header__search--actions .bx--header__search--search,
  .bx--header__search--actions .bx--header__search--close {
    background: none;
  }

  .bx--header__action > svg {
    fill: var(--cds-icon-secondary, #525252);
  }

  .bx--btn.bx--btn--icon-only.bx--tooltip__trigger svg,
  .bx--btn.bx--btn--icon-only.bx--tooltip__trigger:hover svg,
  .bx--btn.bx--btn--icon-only.bx--tooltip__trigger:focus svg {
    fill: var(--cds-icon-secondary, #525252);
  }

  .bx--header__search--actions .bx--header__search--search:hover,
  .bx--header__search--actions .bx--header__search--close:hover {
    background-color: var(--cds-background-hover, rgba(141, 141, 141, 0.12));
  }

  .bx--header__search--actions .bx--header__search--search:hover svg[focusable=false][aria-hidden=true],
  .bx--header__search--actions .bx--header__search--close:hover svg[focusable=false][aria-hidden=true] {
    fill: var(--cds-icon-primary, #161616);
  }

  .bx--search-input {
    color: var(--cds-text-01, #161616);
  }

  .bx--masthead__search.bx--masthead__search--active .bx--header__search--input,
  .bx--masthead__search[active] .bx--header__search--input,
  :host(dds-masthead-search).bx--masthead__search--active .bx--header__search--input,
  :host(dds-masthead-search)[active] .bx--header__search--input {
    background-color: var(--cds-field-01, #f4f4f4);
    color: var(--cds-text-01, #161616);
    padding-right: 6rem; // fix words cut off
  }

  .bx--masthead__search.bx--masthead__search--active .bx--header__action,
  .bx--masthead__search[active] .bx--header__action,
  :host(dds-masthead-search).bx--masthead__search--active .bx--header__action,
  :host(dds-masthead-search)[active] .bx--header__action {
    background: none;
  }

  .bx--header__search--actions .bx--header__search--search:hover,
  .bx--header__search--actions .bx--header__search--close:hover {
    background-color: var(--cds-background-hover, rgba(141, 141, 141, 0.12));
  }

  .bx--header__profile .bx--header__action:focus,
  .bx--header__search--actions .bx--btn.bx--btn--icon-only.bx--tooltip__trigger:focus {
    box-shadow: none;
  }
}

.main-header-container {
  padding-top: 3rem; // fixed header height

  .cds--popover--high-contrast .cds--popover {
    display: none;
  }

  // dropdown
  .cds--dropdown--inline,
  .cds--dropdown {
    &:hover {
      background-color: var(--cds-background-hover, rgba(141, 141, 141, 0.12));
    }

    &:active {
      background-color: unset;
    }
  }

  .cds--header__action,
    // wide menu button
  .cds--btn--ghost,
    // ghost button
  .cds--tabs .cds--tabs__nav-item:not(.cds--tabs__nav-item--disabled) .cds--tabs__nav-item--icon .cds--tabs__nav-item--close-icon,
    // tabs
  .bx--header__search--actions .bx--header__search--search,
  .bx--header__search--actions .bx--header__search--close {

    // search
    &:hover {
      background-color: var(--cds-layer-hover, rgba(141, 141, 141, 0.12));
    }

    &:active {
      background-color: var(--cds-layer-active, rgba(141, 141, 141, 0.5));
      color: var(--cds-text-primary, #161616);
    }
  }

  .cds--tabs__nav-item--close-icon:hover {
    background-color: var(--cds-layer-active, rgba(141, 141, 141, 0.5)) !important;
  }

  .bx--header__global,
  .cds--header__global {
    position: relative;
    align-items: center;
    height: 100%;
  }

  .popover-dropdown {
    &:hover {
      background-color: var(--cds-background-hover, rgba(141, 141, 141, 0.12));
    }

    .cds--tooltip-content {
      display: none !important;
    }
  }

  .bx--masthead__search {
    .bx--header__search--actions {
      // fix masthead search icon overflow header
      overflow: hidden;
      max-height: 100%;
    }
  }

  .cds--popover-content {
    transition: all 0.15s cubic-bezier(0, 0, .38, .9);
  }

}

@media only screen and (max-width: 41.98rem) {
  .main-header-container {

    // hide other elements when search bar active
    .has-search-active {
      display: none;
    }
  }
}

/*
 css overrides for hamburger button to always show

*/
@media (min-width: 66rem) {

  .cds--header__menu-toggle__hidden,
  .bx--header__menu-toggle__hidden {
    display: flex !important;
  }
}

.webapp-header {
  .logoSeperator {
    content: "";
    display: block;
    height: 1.5rem;
    width: 0.0625rem;
    background-color: var(--cds-ui-03, #e0e0e0);
  }

  .seperatorHead {
    padding-left: 10px;
  }

  .logo-header-name {
    padding: 0 1rem;

    .logo-img {
      height: 1.3rem;
    }
  }

  .logo-header-name:hover {
    background-color: var(--cds-layer-hover, rgba(141, 141, 141, 0.12));
  }
}

[data-carbon-theme="g90"] {
  .webapp-header {
    .logoSeperator {
      background-color: var(--cds-text-secondary, #525252);
    }
  }
}
