.main-header-container {

    .bx--header,
    .cds--header {
        position: relative;
        background: var(--cds-ui-02, #ffffff);
        border-bottom: 1px solid var(--cds-border-subtle);
    }

    .bx--header__global,
    .cds--header__global {
        position: relative;
        overflow: hidden;
        align-items: center;
        height: 100%; // 1px for search input bottom border, due to overflow hidden
    }

    .search-container.cds--search--md.cds--search--expandable,
    .search-container.bx--search--md.bx--search--expandable,
    .bx--search {
        display: flex;
        align-items: center;
        z-index: 1;
        height: 3rem;
        max-width: 100%;
        width: 3rem;

        &.cds--search--expanded .cds--search-input,
        &.bx--search--expanded .bx--search-input {
            height: 3rem;
        }

        button,
        .cds--search-magnifier,
        .bx--search-magnifier {
            height: 3rem;
            width: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .bx--search-input:focus {
            outline: none;
            outline-offset: 0;
        }
    }

    .search-container {
        &.bx--search--expandable.bx--search--expanded {
            width: 100vw;
            position: absolute;
        }

        .bx--search-close {
            &:hover {
                border: 2px solid var(--cds-focus, #0f62fe);
                outline-offset: -2px;
            }
        }
    }

    ul.cds--side-nav__items .cds--search,
    ul.cds--side-nav__items .bx--search,
    ul.bx--side-nav__items .cds--search,
    ul.bx--side-nav__items .bx--search {
        position: relative;
        display: flex;
        align-items: center;
        right: 0;
        height: 2rem;
        width: 100%;
        margin: 0 0 1rem 0;
        max-width: -webkit-fill-available;

        &.cds--search--expanded .cds--search-input,
        &.bx--search--expanded .bx--search-input {
            height: 2rem;
        }

        .cds--search-magnifier,
        .bx--search-magnifier {
            height: 2rem;
            width: auto;
        }

        button {
            height: 2rem;
            width: 2rem;

            &:focus {
                outline: none;
            }
        }

        .bx--search-input {
            height: 2.5rem;
        }
    }

    .popover-dropdown {
        .cds--tooltip-content {
            display: none !important;
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-header-container {
        .cds--header__global {
            position: static;
        }

        .search-container.cds--search--md.cds--search--expandable,
        .search-container.bx--search--md.bx--search--expandable,
        .bx--search {

            &.cds--search--expanded,
            &.bx--search--expanded {
                max-width: 100vw;
                right: 0;
                left: 0;
                z-index: 1;
            }

            &.cds--search--expanded .cds--search-input,
            &.bx--search--expanded .bx--search-input {
                position: absolute;
            }
        }
    }
}

/*
 css overrides for hamburger button to always show

*/
@media (min-width: 66rem) {

    .cds--header__menu-toggle__hidden,
    .bx--header__menu-toggle__hidden {
        display: flex !important;
    }
}

// .ibmLogo {
//     width: 60px;
//     height: auto;
//     // margin-left: 0.5rem;
// }

// .logoSeperator {

//     // content: "";
//     // display: block;
//     // position: absolute;
//     // right: -0.1875rem;
//     // top: 50%;
//     // transform: translateY(-50%);
//     // height: 1.5rem;
//     // width: 0.0625rem;
//     // background-color: var(--cds-ui-03,#e0e0e0);

//     height: 1.6rem;
//     width: 0.0625rem;
//     background-color: var(--cds-ui-03, #656464);
// }

.ibmLogo {
    width: 5%;
    height: auto;
    padding-left: 0.5rem;
    // padding-right: 0.5rem;
}

.logoSeperator {
    content: "";
    display: block;
    height: 2rem;
    width: 0.0625rem;
    background-color: var(--cds-ui-03, #e0e0e0);
}
.seperatorHead{
    padding-left: 10px;
}
.orgName {
    padding-left: 0px !important;
}
