

.signin-container {
    background-color: white;
    padding: 0px;
}

.headingSubtitle {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.42857;
    letter-spacing: .16px;
}



.forgot-link {
    float: right;
}

.backToEmailLink {
    color: #8d8d8d;
    text-decoration: none;
    cursor: pointer;
}

.backToEmailLink:link { text-decoration: none; color: #8d8d8d; }
.backToEmailLink:visited { text-decoration: none; color: #8d8d8d; }
.backToEmailLink:hover { text-decoration: none; color: #8d8d8d; }
.backToEmailLink:active { text-decoration: none; color: #8d8d8d; }

.backToEmailLinkIcon {
    margin-right: 4px;
    flex-basis: auto;
    width: 20px;
    height: 20px;
    color: var(--cds-button-primary, #0f62fe);;
}

.heading-container {
    margin-bottom: 0.5rem;
    padding: 1rem 1rem;
}

.bottom-link-container {
  border: none;
  background-color: white;
  padding: 0px;
  text-align: right;
  padding-top: 2rem;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #f4f4f4;
    @media only screen and (max-width: 600px) {
        background-color: white;
    }
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
    @media only screen and (max-width: 600px) {
        vertical-align: unset;
    }
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  
  .inner {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 500px;
    width: calc(100% - 40px);
    margin-bottom: 28px;
    min-width: 320px;
    min-height: 338px;
    overflow: hidden;
    @media only screen and (max-width: 600px) {
        max-width: 100%;
        width: 100%;
    }
  }

.carbon-footer {
    font-family: "ibm-plex-sans",Helvetica Neue,Arial,sans-serif;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 3rem;
    z-index: 5000;
    width: 100%;
    background-color: #262626;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px 0;
}

.footer-nav-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 99rem;
    padding: 0 1.5rem;
}

.footer-nav-container a {
    color: #c6c6c6;
    text-decoration: none;
    font-size: 1rem;
}

.footer-nav-container li {
    display: inline-block;
    padding-right: 20px;
    @media only screen and (max-width: 600px) {
        display: block;
    }
}

.login-input-wrapper {
  border-top: 2px solid var(--cds-border-subtle-00);
  padding: 0px 0px;
  margin: 0px 1rem;
  padding-top: 0.5rem;
}

// .login-form-input {
//   border: none;
//   background-color: white;
//   outline: none;
//   &:focus {
//     outline: none;
//   }
// }

.login-form-input input {
  border-bottom: 2px solid var(--cds-border-strong-01) !important;
}

.cds--checkbox-wrapper {
  padding: 0px 1rem;
}

.submit-button {
  width: 50%;
  &:active {
    outline: none;
  }
}

.submit-button-loading {
  height: 4rem;
  width: 50%;
  margin-left: 50%;
  padding-left: 1rem;
}

.input-label {
  width: 100%;
  padding: 0.5rem 0px;
  margin: 0px;
  z-index: 9;
    position: relative;
}

.underlined-link {
  text-decoration: underline;
}

.cds--link {
  cursor: pointer;
}