.userdata-table {
    width: calc(100% - 0px);
    overflow-x: auto;
    position: absolute;
}
.bx--body--with-modal-open .c4p--datagrid__grid-container {
    height: auto !important;
}

.search-input {
    width: 100%;
    .cds--search-magnifier {
        svg {
            width: 1rem !important;
            height: 1rem !important;
            padding: 0 !important;
        }
    }
}

.row-action-renderer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 16px;
}

.userdata-table {
    height: 100%;
    overflow: hidden;
    .c4p--datagrid, .c4p--datagrid__table-container, .c4p--datagrid__table-container-inner {
        height: 100%;
    }

    .bx--data-table {
        max-height: calc(100% - 3rem) !important;
    }

    .c4p--datagrid__empty-state-body tr td {
        border-bottom: 0;
    }

    .c4p--datagrid__sticky.c4p--datagrid__simple-body {
        height: 100vh;
    }
}

.user-list {
    padding: 10px;
    .error-notification-box {
        width: 100% !important;
        align-items: center;

        >div {
            display: flex;
            flex: 1;
            align-items: center;

            >div {
                margin: 0;
            }
        }

        > svg {
            margin: 0px 12px 0px;
          }
    }
}
