.userdata-table {
  width: calc(100% - 0px);
  overflow-x: auto;
  position: absolute;
}
.bx--body--with-modal-open .c4p--datagrid__grid-container{
  height: auto !important;
}

@media screen and (max-width: 600px) {
  .userdata-table {
    width: calc(100% - 20px);
    margin: 15px;
    margin-top: 16px;
    overflow-x: auto;
    position: absolute;
  }
}
