.auth-login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .auth-login-grid {
    flex: 1;
  }
  .cds--css-grid {
    flex: 1;
    max-width: 10000rem;
    padding-left:0;
    padding-right:0;
  }
  .cds--btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 768px) {
    .auth-login-column {
      display: none;
    }
  }
  .cds--css-grid-column {
    margin-left:0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .header-caption{
    position: absolute;
    top: 38%;
    left:1%;
    .animation-type {
      font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
      color: #0f62fe;
      white-space: pre-line;
      font-size: 30px;
      line-height: 2.5rem;
      letter-spacing: 0;
    }
    .bynar-style {
      color: #747475;
      font-weight: bold;
      font-size: 40px;
    }
    .erp-style {
      color: #0f62fe;
      font-weight: bold;
      font-size: 40px;
    }
  }
  .auth-login-container {
    .auth-login-area{
      height: 100vh;
      display: flex;
      margin: auto;
    }
    .form-mainHeading {
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.25;
      letter-spacing: 0;
      color: #161616;
    }
    .auth-login-bx {
      max-width: 400px;
      position: absolute;
      top: 45%;
      transform: translate(-50%, -50%);
      @media (max-width: 1176px) {
        margin-left: 15px;
      }
    }
    .button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .fields-container {
      margin-top: 15px;
      width: 380px;
      @media (min-width: 672px) {
        display: flex;
        flex-direction: row;
      }
      @media (max-width: 400px) {
        width: 300px;
      }
    }
  }
  .bx--btn--tertiary {
    border: 1px solid #0f62fe;
    background-color: transparent;
    color: #0f62fe;
  }

  .bx--btn--tertiary:hover {
    background-color: #0f62fe;
    color: white;
  }
  .login-submit-button {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
  }
}

