.card-list{
    margin-top: 50px;
    .card-box{
        display: flex;
        justify-content: space-between;
    }
}
.card-row-popover{
    top: 0.4rem;
    &.cds--popover--open, .card-popver-content{
        box-shadow: 0 2px 6px var(--cds-shadow,rgba(0,0,0,0.3));
    }
    .cds--tooltip-content, .cds--popover-caret {
        display: none !important;
    }
    .cds--overflow-menu-options__btn{
        max-width: max-content;
    }
}