.main--content {
  display: flex;
  // width: 100%;
  // height: calc(100vh);
  // align-items: center;
  // justify-content: center;
  // margin-top: 40px;


  .c4p--side-panel__container .c4p--side-panel__inner-content {
    overflow: auto;
    height: calc(100vh - 150px) !important;
    margin-top: calc(var(--c4p--side-panel--title-text-height) + var(--c4p--side-panel--subtitle-container-height) + var(--c4p--side-panel--action-bar-container-height) + var(--c4p--side-panel--label-text-height));
    overflow-x: hidden;
    // background: #FFFFFF !important;
  }

  .bx--form-item {
    margin: 16px 0px;
  }

  .bx--label {
    margin-bottom: 6px;
  }

  // .c4p--side-panel__container .bx--btn.c4p--side-panel__close-button {
  //   display: none;
  //   svg {
  //     display: none;
  //   }
  // }

  .react-tel-input input[type='tel'] {
    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 44px;
    margin-left: 0;
    background: #ffffff;
    /* border: 1px solid #cacaca; */
    /* border-radius: 3px; */
    box-shadow: 0 1px 2px #e3e3e3 inset;
    line-height: 25px;
    height: 28px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--cds-ui-04, #8d8d8d);
    border-radius: 0;
    height: 40px;
    height: 40px !important;
  }

  .react-tel-input .flag-dropdown {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    background-color: var(--cds-field-02, #ffffff) !important;
    border-bottom: 1px solid var(--cds-ui-04, #8d8d8d) !important;
    border-right: 0;
    border-left: 0;
    border-top: 0;
  }

  .react-tel-input .selected-flag:hover,
  .react-tel-input .selected-flag:focus {
    background-color: var(--cds-field-02, #ffffff) !important;
  }

  .react-tel-input .flag-dropdown.open .selected-flag {
    background: var(--cds-field-02, #ffffff) !important;
    border-radius: 3px 0 0 0;
  }

  .react-tel-input .country-list {
    background-color: var(--cds-field-02, #ffffff) !important;
    color: var(--cds-text-01, #161616) !important;
  }

  .react-tel-input .country-list .country .dial-code {
    color: var(--cds-text-01, #161616) !important;
  }

  .react-tel-input .country-list .country.highlight {
    background-color: var(--cds-field-02, #ffffff) !important;
  }

  .react-tel-input .country-list .country:hover {
    background-color: var(--cds-field-02, #ffffff) !important;
  }

  .skeleton-loading {
    margin: 16px 0px;
  }
}


.adduser-box-content {
  display: flex;
  justify-content: center;
  overflow: auto;

  .adduser {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    // background-color: var(--cds-ui-navbar, #f4f4f4) !important;
    overflow: auto;
    width: 600px;
    margin: 16px;
    margin-bottom: 28px;
    height: calc(100vh - 132px);
    padding-bottom: 40px;


  }

  .cds--text-input {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid gray !important;
    width: 344px;
    background: #F4F4F4 !important;
  }

  .cds--label {
    padding-top: 8px !important;
  }

  .cds--text-input__field-outer-wrapper {
    width: 344px;
  }

  .country-select-dropdown {

    .cds--select-input {
      width: 344px;
      background: #F4F4F4 !important;
    }
  }

  .react-tel-input {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    position: relative;
    width: 344px;
  }
}

.user-loader {

  span {
    border: 3px solid gray;
  }
}

.phone-label-wrapper {

  width: 266px;
  margin-top: 8px;
}

.phone-label {
  font-size: 0.75rem;
  letter-spacing: var(--cds-label-01-letter-spacing, 0.32px);
  display: inline-block;
  margin-bottom: 0.5rem;
  color: var(--cds-text-02, #525252);
  font-weight: 400;
  line-height: 1rem;
  vertical-align: baseline;
}

.phone-input-sidepanel {
  input {
    width: 100% !important;
    border-radius: 0px !important;
    height: 40px !important;
    color: var(--cds-text-01, #161616);
    background: var(--cds-field-02, #ffffff) !important;
    box-shadow: none !important;
  }
}

.error-notification-box {
  width: 100% !important;
}