.side-nav-item-with-action .cds--side-nav__link-text,
.side-nav-item-with-action .bx--side-nav__link-text {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .delete-btn {
        padding: 5px;
    }
}
.sidenav-container.bx--side-nav {
    background-color: var(--cds-field-01, #f4f4f4);
    color: var(--cds-text-01, #161616);
    border-right: 1px solid var(--cds-ui-03, #e0e0e0);
}
