.main-header-container {
    .bx--header,
    .cds--header {
        position: relative;
        background: var(--cds-ui-02, #ffffff);
        border-bottom: 1px solid var(--cds-border-subtle);
    }
    .bx--header__global,
    .cds--header__global {
        position: relative;
    }
    .user-list-nav-button {
        margin-right: 3rem;
    }

    .search-container.cds--search--md.cds--search--expandable,
    .search-container.bx--search--md.bx--search--expandable,
    .bx--search {
        display: flex;
        align-items: center;

        position: absolute;
        right: 3rem;
        height: 3rem;
        max-width: calc(100% - 3rem);
        width: 3rem;
        &.cds--search--expanded .cds--search-input, 
        &.bx--search--expanded .bx--search-input {
            height: 3rem;
        }
        button,
        .cds--search-magnifier, 
        .bx--search-magnifier {
            height: 3rem;
            width: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .bx--search-input:focus {
            outline: none;
            outline-offset: 0;
        }
    }

    ul.cds--side-nav__items .cds--search,
    ul.cds--side-nav__items .bx--search,
    ul.bx--side-nav__items .cds--search,
    ul.bx--side-nav__items .bx--search {
        position: relative;
        display: flex;
        align-items: center;
        right: 0;
        height: 2rem;
        width: 100%;
        margin: 0 0 1rem 0;
        max-width: -webkit-fill-available;
        &.cds--search--expanded .cds--search-input, 
        &.bx--search--expanded .bx--search-input {
            height: 2rem;
        }
        .cds--search-magnifier, 
        .bx--search-magnifier {
            height: 2rem;
            width: auto;
        }
        button{
            height: 2rem;
            width: 2rem;
            &:focus{
                outline: none;
            }
        }
        .bx--search-input{
            height: 2.5rem;
        }
    }
}

/*
 css overrides for hamburger button to always show

*/
@media (min-width: 66rem) {
    .cds--header__menu-toggle__hidden,
    .bx--header__menu-toggle__hidden {
        display: flex !important;
    }
}
