.tab-div{
    // display: flex;
    // flex-direction: column;
    margin-top: 80px;
    margin-left: 257px;
    margin-right: 32px;
}
.active-tab-div{
    margin-top: 80px;
    margin-left: 257px;
    margin-right: 32px;
}


@media screen and (max-width: 600px){
    .active-tab-div {
        margin-top: 80px;
    margin-left: 60px;
    margin-right: 32px;
    }
    .tab-div{
        margin-top: 80px;
        margin-left: 60px;
        margin-right: 32px;
    }
    .active-tab-new{
        height: 100vh;
        margin-left: 16px;
        margin-right: 32px;
        padding-left: 3rem;
        padding-top: 3rem;
        overflow-x: auto;
        padding-bottom: 2rem;
    }
    
    }