

.list-users{
    font-size: var(--cds-productive-heading-01-font-size, 0.875rem);
    font-weight: var(--cds-productive-heading-01-font-weight, 600);
    line-height: var(--cds-productive-heading-01-line-height, 1.28572);
    letter-spacing: var(--cds-productive-heading-01-letter-spacing, 0.16px);
    padding-bottom: var(--cds-spacing-02, 0.25rem);
}

.list-user-detail{
    font-size: var(--cds-body-short-01-font-size, 0.875rem);
    font-weight: var(--cds-body-short-01-font-weight, 400);
    line-height: var(--cds-body-short-01-line-height, 1.28572);
    letter-spacing: var(--cds-body-short-01-letter-spacing, 0.16px);
    padding-left: var(--cds-spacing-03, 0.5rem);
}

.loading-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    .cds--inline-loading{
        width: auto !important;
    }
}