.list-description {
    padding: 2rem 1rem 1rem;
    min-height: 3rem;
    font-size: var(--cds-label-02-font-size, 0.875rem);
    font-weight: var(--cds-label-02-font-weight, 400);
    line-height: var(--cds-label-02-line-height, 1.28572);
    letter-spacing: var(--cds-label-02-letter-spacing, 0.16px);
}
button.button-with-loading {
    padding-right: calc(1rem - 1px);
    .inline-loading-within-btn {
        width: auto;
        min-height: auto;
    }
}

.language-change-modal {
    .cds--modal-container--sm {
        min-height: 72%;
    }

    .bx--structured-list--selection .bx--structured-list-row:hover:not(.bx--structured-list-row--header-row)>.bx--structured-list-td {
        border-top: 0px;
    }

    .cds--modal-container{
      background-color: var(--cds-background,#fff) !important;
    }

    .bx--structured-list {
        margin-bottom: 0;
    }

    .language-list-wrapper {
        height: 250px;
        overflow: auto;
    }
}
