.list-description{
    padding: 2rem 1rem 1rem;
    min-height: 3rem;
    font-size: var(--cds-label-02-font-size,.875rem);
    font-weight: var(--cds-label-02-font-weight,400);
    line-height: var(--cds-label-02-line-height,1.28572);
    letter-spacing: var(--cds-label-02-letter-spacing,.16px);
}