.dashboard-tile {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  background-color: var(--cds-ui-01, #f4f4f4);
  padding: 16px;
  color: var(--cds-text-01, #161616);
  align-items: flex-start;
}
.bynar-tile-header {
  height: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
