.c4p--tearsheet.c4p--tearsheet .c4p--tearsheet__body {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  height: calc(100vh - 140px) !important;
}

.c4p--tearsheet .c4p--tearsheet__button-container {
  margin-bottom: 12px !important;
}

.c4p--tearsheet.c4p--tearsheet--wide .c4p--tearsheet__header {
  padding: 14px 16px !important;
  margin: 0;
}

.tearsheet {
  // .bx--modal-content {
  //     height: 80vh;
  //     border: 1px solid red;
  //   }

  .c4p--tearsheet.c4p--tearsheet--wide .c4p--tearsheet__header {
    padding: 6px 16px !important;
    margin: 0;
  }
  .c4p--tearsheet.c4p--tearsheet .c4p--tearsheet__body {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 80vh !important;
  }

  .c4p--tearsheet.c4p--tearsheet--wide .c4p--tearsheet__buttons {
    background: var(--cds-ui-background, #ffffff);
    height: 40px !important;
    border: "1px solid red" !important;
  }

  // .c4p--tearsheet .c4p--tearsheet__button-container {
  //  margin-bottom: 12px !important;
  // }
}
// .bx--modal-content c4p--tearsheet__body {
//   height: 70vh !important;
//   margin: 40px !important;
// }
