// Compile Sass to CSS:
// sass --watch public/Grid/Styles/Custom/index.scss:public/Grid/Styles/Custom/index.css --style compressed

@import "./TreeGridBorders.scss";
@import "./TreeGridBlack.scss";
@import "./TreeGridGradient.scss";
@import "./TreeGridLight.scss";
@import "./TreeGridMaterial.scss";
@import "./TreeGridOffice.scss";
@import "./TreeGridRelief.scss";
@import "./TreeGridStandard.scss";
@import "./TreeGridTurg.scss";
@import "./TreeGridWhite.scss";
@import "./TreeGridQuery.scss";
@import "./TreeGridExtJS.scss";
@import "./TreeGridSharp.scss";
@import "./TreeGridRound.scss";
@import "./TreeGridColors.scss";

html, body {
  margin: 0;
}

/*suggest hover color(only TS theme)*/
.TSSuggestMenuBody .TSMenuItem.TSMenuHover,
.TSSuggestMenuBody .TSMenuItem.TSMenuFocus {
  background-color: #DBEEF4;
}

table > tbody > tr:has(> td > .TSMenuItem.TSMenuHover) {
  background-color: #DBEEF4;
}


