/*colors light*/
.CLRowSpace1 .CLSolidRow, .CLRowSpace2 .CLSolidRow, .CLRowSpace3 .CLSolidRow{
  border-left: 0px;
  border-right: 0px;
}
.CLRowSpace2.CLRowSpaceLast .CLSolidRow, .CLRowSpace3.CLRowSpaceLast .CLSolidRow {
  border-bottom: 0px;
}

.CLHeadLeft, .CLBodyLeft, .CLFootLeft {
  border-left: 0px;
}

.CLHeadMid, .CLBodyMid, .CLFootMid {
  border-right: 0px;
}
.CLHeadMid .CLHeaderRow .CLCellHeader:last-child {
  border-right: 0px;
}
.CLHeadMid .CLHeaderRow .CLCellHeader:nth-last-child(2) {
  border-right: 0px;
}
.CLHeadMid .CLFilterRow .CLCellBase:last-child {
  border-right: 0px;
}
.CLHeadMid .CLFilterRow .CLCellBase:nth-last-child(2) {
  border-right: 0px;
}

.CLHeadMid .CLFilterRow .CLCellBase:last-child {
  border-right: 0px;
}

.CLBodyMid .CLDataRow .CLCellBase:last-child {
  border-right: 0px;
}

.CLBodyMid .CLDataRow .CLCellBase:nth-last-child(2) {
  border-right: 0px;
}

.CLMain .CLBodyLeft, .CLMain .CLBodyMid, .CLMain .CLBodyRight {
  border-bottom: 0px;
}
.CLMainTable{
  border: 0px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
}
.CLRowAbove, .CLRowBelow {
  border-left: 0px solid #e0e0ff;
  border-right: 0px solid #e0e0ff;
}
.CLCellSpace, .CLCellSpaceIcon, .CLCellSpaceButton, .CLCellSpaceButtonIcon, .CLCellSpaceButtonButton, .CLCellSpacePanel, .CLCellSpaceBool, .CLCellSpaceRadio, .CLCellSpaceSelect, .CLCellSpaceEdit{
  border-left: 0px;
}
.CLFillRow .CLCellSpaceEmpty{
  border-right: 0px
}
.CLRowSpace .CLGroupRow .CLCellSpace:last-child{
  border-right: 0px
}
.CLRowAbove .CLCellSpaceAbove:last-child{
  border-right: 0px
}
