.CERowSpace1 .CESolidRow, .CERowSpace2 .CESolidRow, .CERowSpace3 .CESolidRow{
  border-left: 0px;
  border-right: 0px;
}
.CERowSpace2.CERowSpaceLast .CESolidRow, .CERowSpace3.CERowSpaceLast .CESolidRow {
  border-bottom: 0px;
}

.CEHeadLeft, .CEBodyLeft, .CEFootLeft {
  border-left: 0px;
}

.CEHeadMid, .CEBodyMid, .CEFootMid {
  border-right: 0px;
}
.CEHeadMid .CEHeaderRow .CECellHeader:last-child {
  border-right: 0px;
}
.CEHeadMid .CEHeaderRow .CECellHeader:nth-last-child(2) {
  border-right: 0px;
}
.CEHeadMid .CEFilterRow .CECellBase:last-child {
  border-right: 0px;
}
.CEHeadMid .CEFilterRow .CECellBase:nth-last-child(2) {
  border-right: 0px;
}

.CEHeadMid .CEFilterRow .CECellBase:last-child {
  border-right: 0px;
}

.CEBodyMid .CEDataRow .CECellBase:last-child {
  border-right: 0px;
}

.CEBodyMid .CEDataRow .CECellBase:nth-last-child(2) {
  border-right: 0px;
}

.CEMain .CEBodyLeft, .CEMain .CEBodyMid, .CEMain .CEBodyRight {
  border-bottom: 0px;
}
.CEMainTable{
  border: 0px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
  padding-left:0px;
  padding-right: 0px;
}
.CERowAbove, .CERowBelow {
  border-left: 0px solid #e0e0ff;
  border-right: 0px solid #e0e0ff;
}
.CECellSpace, .CECellSpaceIcon, .CECellSpaceButton, .CECellSpaceButtonIcon, .CECellSpaceButtonButton, .CECellSpacePanel, .CECellSpaceBool, .CECellSpaceRadio, .CECellSpaceSelect, .CECellSpaceEdit{
  border-left: 0px;
}
.CEFillRow {
  border:0px;
  margin: 0px;
}
.CEFillRow .CECellSpaceEmpty{
  border-right: 0px
}
.CERowSpace .CEGroupRow .CECellSpace:last-child{
  border-right: 0px
}
.CERowAbove .CECellSpaceAbove:last-child{
  border-right: 0px
}
.CEBodyLeft .CEDataRow:last-child .CECellBase{
  border-bottom: 0px
}
.CEBodyMid .CEDataRow:last-child .CECellBase{
  border-bottom: 0px
}
.CEBottom .CEBottom2,.CEBottom .CEBottom3,.CEBottom .CEBottom4,.CEBottom .CEBottom5{
  height: 0px;
}
.CEBodyLeft, .CEBodyMid, .CEBodyRight, .CEHeadLeft, .CEHeadMid, .CEHeadRight, .CEFootLeft, .CEFootMid, .CEFootRight, .CEHeadMidPrint, .CEBodyMidPrint, .CEFootMidPrint{
  margin-left: 0px;
  margin-right: 0px;
}
.CEGroupRow{
  border-left:0px;
  border-right: 0px;
  padding-left:0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px
}
