.bynar-tile-content-area {
  padding-top: 1rem;
}

.bynar-dashboard-tile {
  height: 20rem;
  max-height: 20rem;
}

.bynar-dashboard-sub-tile {
  height: 16rem;
  max-height: 16rem;
  width: 12rem;
  margin-right: 1rem;
}

.bynar-tile-blue {
  background: rgb(64,0,255);
  background: linear-gradient(170deg, rgba(64,0,255,1) 0%, rgba(64,0,255,1) 61%, rgba(184,0,255,1) 100%);
  color: var(#f4f4f4);
}

.bynar-tab-panel {
  &:focus {
    outline: none;
  }
}

.content-tabs-wrapper .cds--dropdown__wrapper {
  width: 15rem;
  float: right;
}

#close-tab-button {
  position: absolute;
  right: 2rem;
  top: 10rem;
  z-index: 9;
}

#bynar-tabs-menu-dropdown {
  border-bottom: none;
  min-width: 10rem;
}

.tab-close-button {
  display: inline;
  margin-left: 1rem;
}

@media (max-width: 767px) {
  // .header-right-buttons {
  //   display: contents;
  // }
}

@media (max-width: 1024px) {
  .bynar-info-column {
    margin-bottom: 1rem;
  }
}

