.signin-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .signin-grid {
    flex: 1;
    margin-bottom: 2rem;
  }
  .box-container {
    //display: flex;
    //align-items: center;
    //height: 100%;
    //justify-content: center;
    .sign-in-form-area {
      max-width: 448px;
      margin: auto;
      padding-top: 8.5rem;

      .signin-form {
        .form-heading {
          padding-bottom: 2rem;
          margin-bottom: 1rem;
          border-bottom: 1px solid #e0e0e0;

          .form-mainHeading {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.25;
            letter-spacing: 0;
            color: #161616;
          }
        }

        .login-submit-button {
          width: 100%;
          max-width: 100%;
        }

        .field-container {
          width: 100%;

        }

        .bottom-container {
          margin: 1rem 0;
          padding-bottom: 2rem;
          border-bottom: 1px solid #e0e0e0;

          border-bottom: 1px solid #e0e0e0;

          p {
            color: #525252;
            padding-bottom: 1rem;
            font-size: 14px;
          }
        }


        .login-form-input {
          margin-bottom: 1rem;
        }

        .login-create-account {
          width: 100%;
          max-width: 100%;

          svg {
            position: absolute;
            right: 20px;
            top: 17px;
          }
        }

        .login-create-account:hover {
          color: #ffff;
          text-decoration: none;
        }
      }
    }

    .login-input-wrapper {
      width: 100%;
      margin-top: 12px;

      label {
        width: 100%;

        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        margin-bottom: 8px;
        color: #525252;
      }

      input {
        width: 100%;
        height: 48px;
        padding: 12px;
      }
    }
  }

  .register-text-body-01 {
    color: #161616;
    font-size: 14px;
  }

  .register-text-body-02 {
    color: #161616;
    font-size: 14px;
  }

  .fields-container {
    width: 100%;
  }
}

.error-notification-box {
  display: flex;
  background: #525252;
  width: 100%;
  height: 48px;
  margin-top: 8px;
  color: #ffffff;
  align-items: center;

  > div {
    display: flex;
    flex: 1;
    align-items: center;
    > div {
      margin: 0;
    }
  }

  button {
    margin: 0;
    border: 0;
    color: #000;
    cursor: pointer;

    svg {
      fill: #000;
    }
  }

  > svg {
    margin: 0 12px 0 0;
    fill: #fa4d56;
  }
}

.error-notification-box-inactive {
  width: 400px;
  height: 32px;
}

.loader-signin {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.footer-container {
  margin-bottom: 16px;
  padding-right: 16px;
  border-top: 1px solid #dcdcdc;
  padding-top: 12px;
  //margin-left: -16px;
}

.footer-text {
  max-width: 500px;
  width: calc(100% - 40px);
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
}

.resend-code {
  margin-top: 20px;
  margin-bottom: 20px;
}

.resend-code-text {
  color: #0f62fe;
  cursor: pointer;
}

.notification-container {
  align-items: center;
}

.toast-notification {
  display: flex;
  // border-left: 3px solid #fa4d56;
  background: #393939;
  width: 100%;
  height: 46px !important;
  margin-top: 12px !important;
  color: #ffffff;

  .bx--toast-notification__details {
    /* margin-right: 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  // .cds--inline-notification__details {
  //   width: 100%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: stretch;
  //   gap: 12px;
  // }

  .bx--toast-notification__title {
    margin-top: 0;
  }

  .bx--toast-notification__subtitle {
    margin: 0;
  }

  button {
    background: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    margin-top: 0;

    svg {
      fill: white;
    }
  }

  svg {
    fill: #fa4d56;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.error-notification-inactive {
  // width: 400px;
  height: 40px;
}

.login-main-header {
  transition-timing-function: cubic-bezier(.2, 0, .38, .9);
  background: #fff;
  border: none;
  max-width: 99rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1px;
  position: relative;
  z-index: 5999;


}

.register-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

@import '@carbon/ibmdotcom-styles/scss/components/footer/index';

.bx--footer {
  width: 100%;
  color: #f4f4f4;
  background-color: #ffffff;
  padding-top: 0;
  @media (min-width: 671px) and (max-width: 770px) {
    margin-bottom: 2rem;
  }
  @media (max-width: 671px) {
    padding-block: 2rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 671px) {
  .bx--footer {
    padding-block: 0;
  }
}

.bx--legal-nav__list {
  border-top: 0 solid #e0e0e0;
}

.bx--legal-nav__list.bx--legal-nav__micro .bx--legal-nav__holder .bx--legal-nav__list-item a {
  display: flex;
  align-items: center;
  width: 100%;
  color: #525252;
  font-size: 13px;
}

.bx--legal-nav__list.bx--legal-nav__micro .bx--legal-nav__holder .bx--legal-nav__list-item a:hover {
  color: #0f62fe;
}

.bx--legal-nav__list.bx--legal-nav__micro .bx--legal-nav__holder {
  border-top: none;
  display: flex;
  align-items: center;
}

.bx--legal-nav__list.bx--legal-nav__micro {
  flex-direction: row;
  margin-left: 0;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.bx--legal-nav__list.bx--legal-nav__micro .bx--legal-nav__holder .bx--legal-nav__list-item {
  margin-right: 0.6rem;
}

@media (max-width: 671px) {
  .bx--legal-nav__list.bx--legal-nav__micro .bx--legal-nav__holder .bx--legal-nav__list-item {
    height: 1.5rem;
  }
}

.footer_info {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 10px;
    color: #525252;
    margin: 0;
  }
  @media (min-width: 672px) and (max-width: 770px) {
    margin-top: -2.5rem;
  }
  @media (max-width: 671px) {
    margin-top: -0.5rem;
  }
  @media (max-width: 671px) {
    margin-top: -0.5rem;
  }
}

.bx--footer .bx--legal-nav__list .bx--legal-nav__list-item .bx--link {
  color: #0f62fe;
}
.bx--link .bx--footer__link {
  color: #0f62fe;
  background-color: #0f62fe;
}
