/*white*/
.TWRowSpace1 .TWSolidRow, .TWRowSpace2 .TWSolidRow, .TWRowSpace3 .TWSolidRow{
  border-left: 0px;
  border-right: 0px;
}
.TWRowSpace2.TWRowSpaceLast .TWSolidRow, .TWRowSpace3.TWRowSpaceLast .TWSolidRow {
  border-bottom: 0px solid #D9D8DE;
}

.TWHeadLeft, .TWBodyLeft, .TWFootLeft {
  border-left: 0px solid #D9D8DE;
}

.TWHeadMid, .TWBodyMid, .TWFootMid {
  border-right: 0px solid #D9D8DE;
}
.TWHeadMid .TWHeaderRow .TWCellHeader:last-child {
  border-right: 0px solid #D2D2D2;
}
.TWHeadMid .TWHeaderRow .TWCellHeader:nth-last-child(2) {
  border-right: 0px solid #D2D2D2;
}
.TWHeadMid .TWFilterRow .TWCellBase:last-child {
  border-right: 0px solid #CDD8E4;
}
.TWHeadMid .TWFilterRow .TWCellBase:nth-last-child(2) {
  border-right: 0px solid #CDD8E4;
}

.TWHeadMid .TWFilterRow .TWCellBase:last-child {
  border-right: 0px solid #CDD8E4;
}

.TWBodyMid .TWDataRow .TWCellBase:last-child {
  border-right: 0px solid #CDD8E4;
}

.TWBodyMid .TWDataRow .TWCellBase:nth-last-child(2) {
  border-right: 0px solid #CDD8E4;
}

.TWBodyLeft, .TWBodyMid, .TWBodyRight {
  border-bottom: 0px solid #D9D8DE;
}
