/* overwrite StandardGrid.css */

// menu popup
.TBMenuMain,
.TMMenuMain,
.TSMenuMain,
.TTMenuMain,
.TWMenuMain,
.CBMenuMain,
.CCMenuMain,
.CEMenuMain,
.CGMenuMain,
.CLMenuMain,
.COMenuMain,
.CPMenuMain,
.CQMenuMain,
.CFMenuMain,
.CRMenuMain,
.CSMenuMain,
.CLMenuMain {
  z-index: 99000; // greater than IBM carbon modal z-index
}

// debug window
.GridDebugTag, .GridDebugTagMax, .GridDebugButtons, .GridDebugButtonsMax {
  z-index: 99000; // greater than IBM carbon modal z-index
}

.GridMain {
  // overwrite `vertical-align: baseline` of td in IBM carbon css, to fix the issue of vertical alignment of cursor border
  td:not([valign]):not(
    .TBCellBase, .TBVScrollNormal, .TBRowSpace, .TBCellSpaceBase, .TBHeaderGroupCustom, .TBCellSpaceButton, .TBHScrollNormal,
    .TMCellBase, .TMVScrollNormal, .TMRowSpace, .TMCellSpaceBase, .TMHeaderGroupCustom, .TMCellSpaceButton, .TMHScrollNormal,
    .TSCellBase, .TSVScrollNormal, .TSRowSpace, .TSCellSpaceBase, .TSHeaderGroupCustom, .TSCellSpaceButton, .TSHScrollNormal,
    .TTCellBase, .TTVScrollNormal, .TTRowSpace, .TTCellSpaceBase, .TTHeaderGroupCustom, .TTCellSpaceButton, .TTHScrollNormal,
    .TWCellBase, .TWVScrollNormal, .TWRowSpace, .TWCellSpaceBase, .TWHeaderGroupCustom, .TWCellSpaceButton, .TWHScrollNormal,
    .CBCellBase, .CBVScrollNormal, .CBRowSpace, .CBCellSpaceBase, .CBHeaderGroupCustom, .CBCellSpaceButton, .CBHScrollNormal,
    .CCCellBase, .CCVScrollNormal, .CCRowSpace, .CCCellSpaceBase, .CCHeaderGroupCustom, .CCCellSpaceButton, .CCHScrollNormal,
    .CECellBase, .CEVScrollNormal, .CERowSpace, .CECellSpaceBase, .CEHeaderGroupCustom, .CECellSpaceButton, .CEHScrollNormal,
    .CGCellBase, .CGVScrollNormal, .CGRowSpace, .CGCellSpaceBase, .CGHeaderGroupCustom, .CGCellSpaceButton, .CGHScrollNormal,
    .CLCellBase, .CLVScrollNormal, .CLRowSpace, .CLCellSpaceBase, .CLHeaderGroupCustom, .CLCellSpaceButton, .CLHScrollNormal,
    .COCellBase, .COVScrollNormal, .CORowSpace, .COCellSpaceBase, .COHeaderGroupCustom, .COCellSpaceButton, .COHScrollNormal,
    .CPCellBase, .CPVScrollNormal, .CPRowSpace, .CPCellSpaceBase, .CPHeaderGroupCustom, .CPCellSpaceButton, .CPHScrollNormal,
    .CQCellBase, .CQVScrollNormal, .CQRowSpace, .CQCellSpaceBase, .CQHeaderGroupCustom, .CQCellSpaceButton, .CQHScrollNormal,
    .CFCellBase, .CFVScrollNormal, .CFRowSpace, .CFCellSpaceBase, .CFHeaderGroupCustom, .CFCellSpaceButton, .CFHScrollNormal,
    .CRCellBase, .CRVScrollNormal, .CRRowSpace, .CRCellSpaceBase, .CRHeaderGroupCustom, .CRCellSpaceButton, .CRHScrollNormal,
    .CSCellBase, .CSVScrollNormal, .CSRowSpace, .CSCellSpaceBase, .CSHeaderGroupCustom, .CSCellSpaceButton, .CSHScrollNormal,
    .CLCellBase, .CLVScrollNormal, .CLRowSpace, .CLCellSpaceBase, .CLHeaderGroupCustom, .CLCellSpaceButton, .CLHScrollNormal
  ) {
    vertical-align: middle;
  }

  td[valign="top"] {
    vertical-align: top;
  }

  td[valign="middle"] {
    vertical-align: middle;
  }

  td[valign="bottom"] {
    vertical-align: bottom;
  }

  td[valign="baseline"] {
    vertical-align: baseline;
  }
}
