.CSRowSpace1 .CSSolidRow, .CSRowSpace2 .CSSolidRow, .CSRowSpace3 .CSSolidRow{
  border-left: 0px;
  border-right: 0px;
}
.CSRowSpace2.CSRowSpaceLast .CSSolidRow, .CSRowSpace3.CSRowSpaceLast .CSSolidRow {
  border-bottom: 0px;
}

.CSHeadLeft, .CSBodyLeft, .CSFootLeft {
  border-left: 0px;
}

.CSHeadMid, .CSBodyMid, .CSFootMid {
  border-right: 0px;
}
.CSHeadMid .CSHeaderRow .CSCellHeader:last-child {
  border-right: 0px;
}
.CSHeadMid .CSHeaderRow .CSCellHeader:nth-last-child(2) {
  border-right: 0px;
}
.CSHeadMid .CSFilterRow .CSCellBase:last-child {
  border-right: 0px;
}
.CSHeadMid .CSFilterRow .CSCellBase:nth-last-child(2) {
  border-right: 0px;
}

.CSHeadMid .CSFilterRow .CSCellBase:last-child {
  border-right: 0px;
}

.CSBodyMid .CSDataRow .CSCellBase:last-child {
  border-right: 0px;
}

.CSBodyMid .CSDataRow .CSCellBase:nth-last-child(2) {
  border-right: 0px;
}

.CSMain .CSBodyLeft, .CSMain .CSBodyMid, .CSMain .CSBodyRight {
  border-bottom: 0px;
}
.CSMainTable{
  border: 0px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
}
.CSRowAbove, .CSRowBelow {
  border-left: 0px solid #e0e0ff;
  border-right: 0px solid #e0e0ff;
}
.CSCellSpace, .CSCellSpaceIcon, .CSCellSpaceButton, .CSCellSpaceButtonIcon, .CSCellSpaceButtonButton, .CSCellSpacePanel, .CSCellSpaceBool, .CSCellSpaceRadio, .CSCellSpaceSelect, .CSCellSpaceEdit{
  border-left: 0px;
}
.CSFillRow .CSCellSpaceEmpty{
  border-right: 0px
}
.CSRowSpace .CSGroupRow .CSCellSpace:last-child{
  border-right: 0px
}
.CSRowAbove .CSCellSpaceAbove:last-child{
  border-right: 0px
}
.CSBodyLeft .CSDataRow:last-child .CSCellBase{
  border-bottom: 0px
}
.CSBodyMid .CSDataRow:last-child .CSCellBase{
  border-bottom: 0px
}
.CSBottom .CSBottom2,.CSBottom .CSBottom3,.CSBottom .CSBottom4,.CSBottom .CSBottom5{
  height: 0px;
}
.CSCellSpaceAbove{
  border-top:0px;
}
