.card-list {

    .cds--inline-notification {
        margin-bottom: 1em;
    }

    .cds--contained-list__header {
        background-color: var(--cds-layer) !important;
    }

    .card-box {
        width: 380px;
        display: flex;
        justify-content: space-between;

        .card-logo {
            width: 125px;

            .card-icon {
                vertical-align: middle;
                width: 26px;
                position: relative;
                top: -0.1rem;
            }

            .schema {
                margin-left: 4px;
            }
        }


        .card-logo-with-checkicon {
            display: flex;
            justify-content: flex-start;
            gap: 0px;
            align-items: center;

            .card-type {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .card-holder-name {
            // overflow-wrap: break-word;
            width: 100px;
            padding: 0px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .card-checkbox {
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            top: 0.15rem;

            .cds--checkbox {
                clip-path: circle(50%) !important;
            }

        }



    }

    .row-action-renderer {
        display: flex;
        align-items: center;
    }
    .cds--overflow-menu{
        width: 3rem;
        height: 3rem;
    }
    .cds--overflow-menu-options{
        max-width: 23rem;
        width: max-content;
    }
    .cds--overflow-menu-options__btn {
        max-width: 23rem;
    }
}

// .cds--toast-notification__subtitle {
//     margin-top: 1rem !important;
// }

.card-row-popover {
    // top: 0.4rem;

    &.cds--popover--open,
    .card-popver-content {
        margin-top: 0;
        box-shadow: 0 2px 6px var(--cds-shadow, rgba(0, 0, 0, 0.3));
    }

    .cds--tooltip-content,
    .cds--popover-caret {
        display: none !important;
    }

    .cds--overflow-menu-options__btn {
        max-width: max-content;
    }
}

@media (max-width: 600px) {
    .card-list {
        .cds--contained-list-item--with-action .cds--contained-list-item__content {
            padding-inline-end: 3rem;
        }

        .card-box {
            width: 280px;

            .card-logo {
                width: 70px;
            }

            .card-logo-with-checkicon {
                gap: 2px;

                .card-type {
                    width: 42px;
                }
            }

            .card-holder-name {
                padding: 0px 12px;
                width: 88px;
            }
        }

        .row-action-renderer {
            display: flex;
            align-items: center;
        }
    }
}
