.header-container {
  background: var(--cds-ui-02, #ffffff);
}

.header-dynamic-tab {
  display: flex;
  align-items: stretch;
  /* for scroll instead of overflow hidden */
  flex-flow: row;
  width: 0;
  flex-grow: 1;
  /* for scroll instead of overflow hidden end */

  &.has-search-active {
    display: none;
  }


  .tab-buttons-list {
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    // remove gap between tabs
    .cds--tabs .cds--tabs__nav-item + .cds--tabs__nav-item {
      margin-left: 0;
    }

    // previous icon should be on top of tabs
    .cds--tabs .cds--tab--overflow-nav-button--previous {
      z-index: 1;
    }

    .custom-tab {
      // hide tab bottom border color
      &.cds--tabs__nav-link:not(.cds--tabs__nav-item--selected) {
        border-bottom-color: transparent;
      }

      &.tab-stable {
        .cds--tabs__nav-item--icon {
          display: none;
        }
      }
    }
  }


  .add-new-tab {
    align-items: center;
    padding: 0;
  }
}

// drop down tabs
.header-dynamic-dropdown-tabs-content {
  min-width: 10rem;
  background-color: var(--cds-ui-02, #ffffff);

  .cds--contained-list {
    > ul {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: calc(100vh - 8rem);
    }

    .cds--contained-list__header {
      top: auto;
    }

    .list-item-active {
      background: var(--cds-layer-hover);
    }


    .cds--contained-list-item:not(:last-of-type)::before {
      content: none;
    }
  }

  + .cds--popover-caret {
    background-color: var(--cds-ui-02, #ffffff);
  }
}
