.theme-modal-body {
    label {
        margin-bottom: 0.5em;
    }
    label,
    .cds--tile-content {
        display: flex;
        align-items: center;
        svg {
            fill: var(--cds-icon-01, #161616);
            height: 1rem;
            margin-right: 0.5rem;
            width: 1rem;
        }
    }
    .cds--tile__checkmark{
        top: calc(50% - 0.5rem);
    }
}


.theme-change-modal {
    .cds--modal-container--xs {
        min-height: 400px
    }
}
