.header-name {
  max-width: 120px;
}
.header-name:hover {
  background-color: var(--cds-layer-hover, rgba(141, 141, 141, 0.12));
}
.header-right {
  margin-left: auto;
  height: 48px;
  display: flex;
  align-items: center;
  width: 8.26rem;
  .cds--dropdown {
    max-height: 48px;
    height: 48px;
    width: 8.26rem;
  }
  .cds--dropdown--inline .cds--list-box__menu {
    min-width: 8.26rem;
    max-width: 8.26rem;
    background-color: #ffffff;
  }
}

