.header-sort-btn{
    padding: 0;
    &:hover{
        background: var(--cds-hover-selected-ui, #cacaca)
    }
}
th:hover{
    .header-sort-btn{
        background: var(--cds-hover-selected-ui, #cacaca)
    }
}

th[class$=__isSorted]{
    .header-sort-btn{
        background-color: var(--cds-hover-selected-ui, #cacaca);
    }
}