@use './components/CarbonHeader/carbon-header';
@use './components/AuthHeader/auth-header';
@use './content/Dashboard/dashboard';
@use './content/LandingPage/landing-page';
@use './content/RepoPage/repo-page';
@use './pages/Signup/signup';
@use './pages/Signin/signin';
@use './pages/Profile/profile';
@use './pages/UserList/user-list';

#root {
    height: 100%;
    width: 100%;
}

html {
  background-color: var(--cds-layer);
}

.bynar-content-container {
  background-color: var(--cds-layer);
}

.cds--loading-overlay {
    background-color: white;
}

.dynamic-notification-wrapper {
  position: absolute;
  right: 2rem;
  z-index: 9;
}

.dynamic-notification-element {
  margin-bottom: 1rem;
}

.bynar-backgroud-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -9;
  background-color: var(--cds-layer);
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}
@media (max-width: 1024px) {
  .hidden-tablet {
    display: none;
  }
}
@media (min-width: 768px) {
  .show-mobile {
    display: none;
  }
}
@media (min-width: 1024px) {
  .show-tablet {
    display: none;
  }
}
