.signup-container {
  background-color: white;
  max-width: 55rem;
}

.headingSubtitle {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.42857;
  letter-spacing: 0.16px;
}

.emailInputLabel {
  width: 100%;
  margin-bottom: 0.5rem;
}

.forgot-link {
  float: right;
}

.backToEmailLink {
  color: #8d8d8d;
  text-decoration: none;
  cursor: pointer;
}

.backToEmailLink:link {
  text-decoration: none;
  color: #8d8d8d;
}
.backToEmailLink:visited {
  text-decoration: none;
  color: #8d8d8d;
}
.backToEmailLink:hover {
  text-decoration: none;
  color: #8d8d8d;
}
.backToEmailLink:active {
  text-decoration: none;
  color: #8d8d8d;
}

.backToEmailLinkIcon {
  margin-right: 4px;
  flex-basis: auto;
  width: 20px;
  height: 20px;
  color: var(--cds-button-primary, #0f62fe);
}

.heading-container {
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
}

.bottom-link-container {
  border-top: 1px solid #dcdcdc;
  // margin-top: 1.5rem;
  background-color: white;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

.carbon-footer {
  font-family: 'ibm-plex-sans', Helvetica Neue, Arial, sans-serif;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: 3rem;
  z-index: 5000;
  width: 100%;
  background-color: #262626;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px 0;
}

.footer-nav-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 99rem;
  padding: 0 1.5rem;
}

.footer-nav-container a {
  color: #c6c6c6;
  text-decoration: none;
  font-size: 1rem;
}

.footer-nav-container li {
  display: inline-block;
  padding-right: 20px;
  @media only screen and (max-width: 600px) {
    display: block;
  }
}

.right-column {
  background-color: #f9f9f9;
  margin: 0px;
}

.right-content {
  text-align: center;
}

.signup-grid {
  background-color: white;
  padding: 0px;
  max-width: none;
}

.signup-grid-row {
  display: contents;
}

@media only screen and (max-width: 600px) {
  .signup-grid {
    display: block;
  }
  .left-column {
    margin: 0px;
  }
  .signup-grid-row {
    display: flex;
  }
}

.progress-container {
  margin: 35px 0px;
}

button.cds--accordion__heading .cds--accordion__arrow {
  display: none;
}

.text-input-column {
  margin: 0px;
}
