.header-box {
  padding: 80px 48px 20px 48px;
  color: white;
}
.bold {
  font-weight: bold;
}

.error-notification {
  display: flex;
  border-left: 3px solid #fa4d56;
  background: #393939;
  width: 400px;
  height: 48px;
  margin-top: 12px;
  color: #ffffff;

  .cds--inline-notification__details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 12px;
  }

  button {
    background: transparent;
    border: 0;
    color: white;
    cursor: pointer;

    svg {
      fill: white;
    }
  }

  svg {
    fill: #fa4d56;
  }
}

.toast-notification {
  display: flex;
  align-items: center;
  // border-left: 3px solid #fa4d56;
  background: #393939;
  width: 400px;
  // height: 48px !important;
  margin-top: 12px !important;
  color: #ffffff;

  .cds--inline-notification__details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 12px;
  }

  button {
    background: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    margin-top: 0px;

    svg {
      fill: white;
    }
  }

  svg {
    fill: #fa4d56;
  }
}

.error-notification-inactive {
  width: 400px;
  height: 32px;
}

.account {
  border-left: 2px solid #0062ff;
  background-color: #ffffff;
  padding: 1rem;
  position: relative;
  margin-bottom: 0.5rem;
  width: 400px;
  height: 330px;
}

.account-edit {
  border-left: 2px solid #0062ff;
  background-color: #ffffff;
  padding: 1rem;
  position: relative;
  margin-bottom: 0.5rem;
  width: 400px;
  height: 160px;
}

.account-header-edit {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.account-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.box {
  display: flex;
  justify-content: space-between;
}

.edit-button {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: #0f62fe;
}

.text-heading {
  color: #161616;
}

.text-heading-edit {
  color: #525252;
  font-size: 14px;
  overflow-wrap: break-word;
}

.text {
  height: 150px;
  background-color: antiquewhite;
}

.password-text-input {
  .bx--label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #ffff;
    font-weight: 400;
    line-height: 1rem;
    vertical-align: baseline;
    width: 100%;
  }

  input {
    background-color: white;
    width: 366px;
    height: 40px;
    padding-left: 12px;
  }

  .bx--form-requirement {
    color: red !important;
    height: 16px;
    margin-top: 8px;
  }
}

.input-heading {
  color: #525252;
  font-size: 12px;
  padding: 4px 0px 6px 0px;
}

.email-text-input {
  .cds--label {
    letter-spacing: var(--cds-label-01-letter-spacing, 0.32px);
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #525252;
    font-weight: 400;
    line-height: 1rem;
    vertical-align: baseline;
    width: 100%;
    margin-top: 8px;
  }

  input {
    background-color: white;
    width: 366px;
    height: 40px;
    padding-left: 12px;
  }

  .cds--form-requirement {
    color: red;
    height: 16px;
    margin-top: 8px;
  }

  svg {
    display: none;
  }
}

.submit-button {
  border-width: 1px;
  border-style: solid;
  border-color: #0f62fe;
  background-color: #ffffff;
  color: #0f62fe;
  // width: 140px;
  height: 40px;
  min-height: 40px;
  cursor: pointer;
  min-width: 120px;
  max-width: 60%;
  padding: 0px 12px;
  display: flex;
  justify-content: flex-start;
}

.submit-button-disabled {
  border-width: 1px;
  border-style: solid;
  border-color: #0f62fe;
  background-color: #ffffff;
  color: #0f62fe;
  // width: 140px;
  height: 40px;
  min-height: 40px;
  min-width: 120px;
  max-width: 60%;
  padding: 0px 12px;
  display: flex;
  justify-content: flex-start;
  cursor: not-allowed;
}

label[for="password-input"] {
  color: white;
  margin-top: 12px;
}

.accordian {
  // background-color: #E6E6E6;
  padding: 0px 48px 48px 48px;

  .bx--accordion__text-heading {
    display: none;
  }
}

.login-link {
  color: #262626;
}

.email-verification {
  border-left: 2px solid #0062ff;
  background-color: #ffffff;
  padding: 1rem;
  position: relative;
  margin-bottom: 0.5rem;
  width: 400px;
  color: #161616;
  display: flex;
  flex-direction: column;
  gap: 16px;

  input {
    background-color: white;
    width: 366px;
    height: 40px;
    padding-left: 12px;
  }
}

.personal-info {
  border-left: 2px solid #0062ff;
  background-color: #ffffff;
  padding: 1rem;
  position: relative;
  margin-bottom: 0.5rem;
  width: 400px;
  color: #161616;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .cds--label {
    letter-spacing: var(--cds-label-01-letter-spacing, 0.32px);
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #525252;
    font-weight: 400;
    line-height: 1rem;
    vertical-align: baseline;
    width: 100%;
  }

  input {
    background-color: white;
    width: 366px;
    height: 40px;
    padding-left: 12px;
  }
}

.country-select {
  .bx--select-input__wrapper {
    position: relative;
    display: flex;
    width: 400px !important;
    flex-direction: column;
    align-items: flex-start;
  }
}

.vat-info {
  border-left: 2px solid #0062ff;
  background-color: #ffffff;
  padding: 1rem;
  position: relative;
  margin-bottom: 0.5rem;
  width: 400px;
  color: #161616;
  display: flex;
  flex-direction: column;
  gap: 16px;

  label {
    letter-spacing: var(--cds-label-01-letter-spacing, 0.32px);
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #525252;
    font-weight: 400;
    line-height: 1rem;
    vertical-align: baseline;
    width: 100%;
  }

  input {
    background-color: white;
    width: 366px;
    height: 40px;
    padding-left: 12px;
  }

  svg {
    display: none;
  }

  .cds--form-requirement {
    color: red;
    margin-top: 8px;
  }
}

.phone-input {
  width: 100% !important;

  input {
    border: none !important;
    border-bottom: 1px solid var(--cds-ui-04, #8d8d8d) !important;
    background-color: var(--cds-field-01, #f4f4f4) !important;
    color: var(--cds-text-01, #161616) !important;
    transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
      outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
  }
}

.checkbox {
  width: 20px !important;
}

.create-account {
  margin-top: 16px;
}

.postalcode {
  width: 100%;

  svg {
    display: none;
  }

  .cds--form-requirement {
    color: #fa4d56;
    padding-top: 4px;
  }
}

@media screen and (max-width: 600px) {
  .account {
    width: 278px;
  }

  .email-text-input input {
    background-color: white;
    width: 244px;
    height: 40px;
    padding-left: 12px;
  }

  .account-edit {
    width: 278px;
  }

  .email-verification {
    width: 278px;
  }

  .email-verification input {
    background-color: white;
    width: 244px;
    height: 40px;
    padding-left: 12px;
  }

  .personal-info {
    width: 278px;
  }

  .personal-info input {
    background-color: white;
    width: 244px;
    height: 40px;
    padding-left: 12px;
  }

  .country-select {
    select {
      width: 100%;
      height: 40px;
    }

    .bx--select-input__wrapper {
      position: relative;
      display: flex;
      width: 370px !important;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .vat-info {
    border-left: 2px solid #0062ff;
    background-color: #ffffff;
    padding: 1rem;
    position: relative;
    margin-bottom: 0.5rem;
    width: 278px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .vat-info input {
    background-color: white;
    width: 244px;
    height: 40px;
    padding-left: 12px;
  }

  .error-notification {
    width: 278px;
  }

  .account-info {
    border-left: 2px solid #0062ff;
    background-color: #ffffff;
    padding: 1rem;
    position: relative;
    margin-bottom: 0.5rem;
    width: 278px !important;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 16px;

    label {
      letter-spacing: 0.32px;
      display: inline-block;
      color: #525252;
      font-weight: 400;
      line-height: 1rem;
      vertical-align: baseline;
      width: 100%;
    }
  }

  .toast-notification {
    display: flex;
    // border-left: 3px solid #fa4d56;
    background: #393939;
    width: 100%;
    // height: 48px !important;
    margin-top: 12px !important;
    color: #ffffff;

    .cds--inline-notification__details {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: stretch;
      gap: 12px;
    }

    button {
      background: transparent;
      border: 0;
      color: white;
      cursor: pointer;
      margin-top: 0px;

      svg {
        fill: white;
      }
    }

    svg {
      fill: #fa4d56;
    }
  }
}

.verify-button-class {
  display: flex;
  gap: 12px;

  .resend-button {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    color: blue;
    width: 112px;
    height: 32px;
    cursor: pointer;
  }
}

.account-info {
  border-left: 2px solid #0062ff;
  background-color: #ffffff;
  padding: 1rem;
  position: relative;
  margin-bottom: 0.5rem;
  width: 400px;
  color: #525252;
  display: flex;
  flex-direction: column;
  gap: 16px;

  label {
    letter-spacing: 0.32px;
    display: inline-block;
    color: #525252;
    font-weight: 400;
    line-height: 1rem;
    vertical-align: baseline;
    width: 100%;
  }
}

.create-account-loader {
  margin-top: 8px;
  display: flex;
  color: white;
  width: 100%;
  gap: 16px;

  p {
    font-size: 12px;
  }
}

.signup-grid {
  padding: 0;
  max-width: none;
  width: 100vw;
  background: no-repeat url("~/public/images/ibmid_bkg.svg");
  background-position-y: 80%;
  background-size: 45%;
  height: calc(100vh - 50px);
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
}

.right-column {
  margin: 0px;
  width: 40%;
  // background: url('/signup-bg.svg') center 60% / 100% no-repeat rgb(249, 249, 249);
}

.form-container {
  width: 60%;
}

.left-column {
  background-color: #ffffff;
  padding: 30px 80px 40px 80px;
  overflow-y: auto;
  height: 100%;
  margin: 0;
}

.right-content {
  display: flex;
  justify-content: center;
}

.signup-heading-text-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  color: #fff;
  margin-bottom: 4rem;

  .signup-text {
    padding: 24px 0px 0px;
    .content {
      font-size: 14px;
      color: #323232;
    }
  }
}

.signup-heading-text {
  font-size: 40px;
  color: #161616;
  align-self: flex-start;
  font-weight: 600px;
}

.underline {
  border: 2px solid #0062ff;
}

.signup-form {
  height: 70%;
  // overflow-y: auto;

  .account-info-box {
    padding: 0px 16px;
    // margin-top: 16px;
    .account-heading {
      margin: 16px 0px 22px 0px;
    }

    .heading {
      font-size: 20px;
      color: #171717;
    }

    .cds--form-item {
      padding: 8px 0px;
    }
  }
}

.verification-box {
  width: 240px;
}

.email-form-input {
  width: 100%;

  .bx--label {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color: #ffff;
    font-weight: 400;
    line-height: 1rem;
    vertical-align: baseline;
    width: 100%;
  }
}

.email-text {
  font-size: 14px;
  max-width: 370px;
  margin: 16px 0px;
}

.resend-code {
  color: #0f62fe;
  text-decoration: underline;
  cursor: pointer;
}

.verify-email-text {
  font-size: 14px;
  max-width: 500px;
  margin: 16px 0px;
}

@media (max-width: 1055px) {
  .signup-grid {
    background: none;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
  }

  .right-column {
    background: rgb(249, 249, 249) !important;
    width: 100%;

    .right-content {
      width: 100%;
      padding-bottom: 32px;
      display: flex;
      justify-content: center;
    }
  }

  .postalcode {
    width: 100%;
  }

  .form-container {
    width: 100%;
  }

  .left-column {
    width: 100%;
    margin: 0;

    background-color: #ffffff;
    // padding: 40px 20px 0px 80px;
    padding: 40px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .signup-container {
    padding: 0;
    width: 80%;
  }

  .signup-form {
    width: 80%;
  }

  .email-form-input {
    width: 100%;
  }

  .phone-input {
    width: 100% !important;
  }

  .country-select {
    select {
      width: 100%;
      height: 40px;
    }

    .bx--select-input__wrapper {
      position: relative;
      display: flex;
      width: 100% !important;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .signup-heading-text {
    font-size: 40px;
    color: #161616;
    font-weight: 600px;
    // align-self: center !important;
  }

  .signup-heading-text-wrapper {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    color: #fff;
    padding: 0 1rem;
    margin-bottom: 1rem;
    align-items: center;

    .signup-text {
      padding: 24px 0px 0px;
      .content {
        font-size: 14px;
        color: #323232;
      }
    }
  }
}

@media (max-width: 600px) {
  .signup-grid {
    padding: 0;
    background: none;
    flex-direction: column;
    justify-content: flex-start;
  }

  .right-column {
    background: rgb(249, 249, 249) !important;
    width: 100%;

    .right-content {
      width: 100%;
      padding-bottom: 32px;
      display: flex;
      justify-content: center;
    }
  }

  .form-container {
    width: 100%;
  }

  .left-column {
    background-color: #ffffff;
    // padding: 40px 20px 0px 80px;
    padding: 40px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .signup-container {
    width: 88%;
    padding: 0;
  }

  .signup-form {
    width: 88%;
  }

  .email-form-input {
    width: 100%;
  }

  .postalcode {
    width: 100%;
  }

  .phone-input {
    width: 100% !important;
  }

  .list {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 10px !important;
    width: 282px !important;
  }

  .ui-list {
    width: 100%;
    margin: 0px 4px !important;

    .cds--link {
      color: #c6c6c6;
      text-decoration: none;
    }
  }

  .signup-heading-text {
    font-size: 40px;
    color: #161616;
    font-weight: 600px;
    // align-self: center !important;
  }

  .signup-heading-text-wrapper {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    color: #fff;
    padding: 0 1rem;
    margin-bottom: 1rem;
    align-items: center;

    .signup-text {
      padding: 24px 0px 0px;
      .content {
        font-size: 14px;
        color: #323232;
      }
    }
  }
}

.form-group {
  padding: 8px 0px;

  input {
    width: 81%;
    height: 40px;
    padding: 0 1rem;
    border: none !important;
    border-bottom: 1px solid var(--cds-ui-04, #8d8d8d) !important;
    background-color: var(--cds-field-01, #f4f4f4) !important;
    color: var(--cds-text-01, #161616) !important;
    transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
      outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
  }

  .input-heading {
    font-size: 12px;
    color: #525252;
  }

  input:hover {
    border: 1px solid #0f62fe;
  }
}

.form-box {
  display: flex;
  justify-content: space-between;
  width: 81%;
  padding: 8px 0px;
}

.form-group-one {
  width: 39%;

  input {
    width: 100%;
    height: 40px;
    padding: 0 1rem;
    border: none !important;
    border-bottom: 1px solid var(--cds-ui-04, #8d8d8d) !important;
    background-color: var(--cds-field-01, #f4f4f4) !important;
    color: var(--cds-text-01, #161616) !important;
    transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
      outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
  }

  input:hover {
    border: 1px solid #0f62fe;
  }

  .input-heading {
    font-size: 12px;
    color: #525252;
  }
}

.create-account-button {
  background-color: #0f62fe;
  color: #ffffff;
  width: 112px;
  height: 32px;
  cursor: pointer;
}

.create-account-button-disabled {
  background-color: #e6e6e6;
  color: #525252;
  width: 112px;
  height: 32px;
  border: none;
  cursor: not-allowed;
}

.carbon-footer {
  background-color: #262626;
  height: 50px;
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  width: 600px;
}

.ui-list {
  width: 100%;
  margin: 0px 10px;

  .cds--link {
    color: #c6c6c6;
    text-decoration: none;
  }
}

.heading-container {
  padding: 0px 16px;
}

.underline-border {
  margin-top: 32px;
  margin-left: -16px;
}

.phone-input-signup{
  input{
    width: 100% !important;
    border-radius: 0px !important;
    height: 40px !important;
    background: #F4F4F4 !important;
  }
}