// custom enzuzo styles
.notification-main {
    background: #f4f4f4;
}

.notification-text,
.notification-text span {
    color: #161616 !important;
}

.notification-text a {
    color: #0f62fe;
}

.notification-default .button-default,
.notification-bottom-center .button-default,
.notification-bottom-center-floating .button-default,
.notification-default-top .button-default,
.notification-top-center .button-default,
.notification-top-center-floating .button-default {
    background: #0f62fe;
}

.enzuzo-cookie-modal {
    background-color: #f4f4f4;
    border-radius: 0px;
}

h3.enzuzo-modal-title {
    font-size: 2rem;
    font-weight: 400;
}

h3.enzuzo-hv-preference__purpose {
    font-size: 1.1rem;
    font-weight: 400;
}

button.enzuzo-modal-button {
    border-radius: 0;
}

button.enzuzo-modal-button-confirm {
    background-color: #0f62fe;
}

button.enzuzo-modal-button-accept {
    background-color: #0f62fe;
    border: none;
    color: #ffffff;
}

button.enzuzo-modal-button-reject {
    background-color: #393939;
    border: none;
    color: #ffffff;
}

.enzuzo-modal-desc {
    color: #161616;
}

.enzuzo-privacy-policy-link {
    color: #0f62fe;
}

.enzuzo-hv-preference__description {
    color: #161616;
}

.enzuzo-poweredby-wrap {
    display: none !important;
}