$feature-flags: (
    enable-css-custom-properties: true,
    grid-columns-16: true,
);
$prefix: "cds";
@use "@carbon/react";
@import "../node_modules/carbon-components/scss/globals/scss/vars";

.skiptranslate {
    display: none;
}

#root {
    width: 100vw;
    height: 100vh;
}

body {
    background: react.$background;
    color: react.$text-primary;
}

:root {
    @include react.theme(react.$white);
}

[data-carbon-theme="g90"] {
    @include react.theme(react.$g90);

    @include carbon--theme($carbon--theme--g90, true);
    background-color: var(--cds-ui-background);
    color: var(--cds-text-01);
}

.disable-focus{
    &:focus{
        outline: none;
        box-shadow: none;
    }
}

/*
    ***DANGER ZONE***

    carbon internal class overrides to fix issues that are broken within the lib
*/
