@use "@carbon/react";

.skiptranslate {
    display: none;
}

#root {
    width: 100vw;
    height: 100vh;
}

body {
    background: react.$background;
    color: react.$text-primary;
}

:root {
    @include react.theme(react.$g10);
}

[data-carbon-theme="g90"] {
    @include react.theme(react.$g90);
}
