button.button-with-loading {
  padding-right: calc(1rem - 1px);

  .inline-loading-within-btn {
    width: auto;
    min-height: auto;
  }
}

.add-card-modal {
  .cds--inline-notification {
    margin-bottom: 1em;
  }

  .cds--modal-container {
    width: 35%;
  }

  .bx--modal-content {
    .container {
      height: auto;
    }
  }

  .bx--toast-notification {
    margin-right: 0;
  }

  .error-notification-box {
    width: 100% !important;
  }

  .input-heading {
    margin-bottom: 0.5rem;
  }
}

// .cds--toast-notification__subtitle {
//   margin-top: 1rem !important;
// }

.card-number {
  width: 100%;
  height: 40px;
  padding: 0px;
  border: none !important;
  border-bottom: 1px solid var(--cds-ui-04, #8d8d8d) !important;
  background-color: var(--cds-field-02, #f4f4f4) !important;
  color: var(--cds-text-01, #161616) !important;
  transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9), outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
}


[class$="--invalid"] {
  color: red !important;
  -webkit-text-fill-color: red !important;
}


// @media screen and (max-width:600px) {
//   .card-input-container {
//     padding: 0px 10px;
//   }
// }


// .my-test-frame {
//   background-color: red;

//   // .card-number {
//   //   width: 100%;
//   //   height: 40px;
//   //   padding: 0px;
//   //   border: none !important;
//   //   border-bottom: 1px solid var(--cds-ui-04, #8d8d8d) !important;
//   //   background-color: var(--cds-field-01, #f4f4f4) !important;
//   //   color: var(--cds-text-01, #161616) !important;
//   //   transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9), outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
//   // }
// }